html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url('../img/geometry2.png');
	/* Background pattern from Subtle Patterns */
	font-family: 'Coda', cursive;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*
* Styles for the deck of cards
*/

.deck {
	width: 660px;
	/* min-height: 680px; */
	height: 70%;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 125px;
	width: 125px;
	background: #2e3d49;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	background: #ac83ee;
	cursor: default;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: #10c228;
	font-size: 33px;
}

/*
* Styles for the Score Panel
*/

.score-panel {
	text-align: left;
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-evenly;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}

.time {
	margin-left: 10px;
}

/* Modal styling */

/* Modal creation technique care of Richard Middleton @ RichardCodes https://youtu.be/gLWIYk0Sd38 */

.modal-bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: auto;
	display: none;
	justify-content: center;
}

.modal-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	display: flex;
	flex-direction: column;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	width: 85%;
	height: 400px;
	align-self: center;
	border-radius: 10px;
}

.modal-content h1 {
	text-align: center;
	font-size: 2em;
}

.stats {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.exit {
	font-family: inherit;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 3px;
	border-radius: 10px;
	margin-top: 20px;
	padding: 10px 40px;
	background-color: #D5C4E7;
}

.modal-close {
	align-self: center;
}


@media screen and (min-width: 350px) and (max-width: 390px){
	.deck{
		width:97%
	}
	.deck .card{
		height: 60px;
		width: 60px;
		margin: 3px;
	}
	.score-panel{
		font-size: 20px;
	}
	.time{
		margin-left: 
	}
	.stats{
		width: 80%;
		font-size: 20px;
	}
}

@media screen and (min-width: 391px){
	.deck{
		width: 100%;
	}
	.score-panel{
		font-size: 24px;
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		align-items: center;	
	}
	.deck .card{
		height: 75px;
		width: 75px;
		margin: 3px;
	}
}

@media screen and (min-width: 469px){
	.deck{
		width: 90%;
	}
	.deck .card{
		height: 80px;
		width: 80px;
	}
}
@media screen and (min-width: 494px){
	.deck .card{
		height: 85px;
		width: 85px;
	}
	.score-panel{
		flex-direction: row;
	}
}
@media screen and (min-width: 520px){
	.deck .card{
		height: 95px;
		width: 95px;
	}
}
@media screen and (min-width: 594px){
	.deck{
		width: 90%;
	}
	.deck .card{
		height: 110px;
		width: 110px;
	}
}
@media screen and (min-width: 645px){
	.deck .card{
		height: 115px;
		width: 115px;
	}
}
@media screen and (min-width: 669px){
	.deck .card{
		height: 120px;
		width: 120px;
	}
}
@media screen and (min-width: 694px){
	.deck .card{
		height: 125px;
		width: 125px;
	}
}
@media screen and (min-width: 719px){
	.modal-bg{
		bottom: 0;
	}
	.deck{
		width: 90%;
	}
	.deck .card{
		height: 135px;
		width: 135px;
	}
}
@media screen and (min-width: 800px){
	.deck .card{
		height: 135px;
		width: 135px;
	}
}
@media screen and (min-width: 855px){
	.deck .card{
		height: 140px;
		width: 140px;
		margin: 5px;
	}
	.container{
		width: 750px;
		margin: 0 auto;
	}
}